.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Tahoma";
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 13;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button:focused:pressed {
    -fx-background-color: #2A5058;
}